<div class="top">
<div class="top-bar">
  <div class="top-bar-title"><img src="http://i1167.photobucket.com/albums/q627/spawnreed/leg_zpsdn4xuf6y.png" class="logo"height="5" alt="" /></div>
  <div>
    <div class="top-bar-left"></div>
    <div class="top-bar-right">
  </div>
  </div>
</div>
</div>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.Title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @blog.Text %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
