<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>


    <%= yield %>
    <footer>
      <div class="">
    <p class="out">  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> </p>
    </div> <p class="copy"> &copy LegacyEmpowermentGroup </p>
    </footer>
  </body>
</html>
